* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-color: #262729;
    --reddish-brown: #EE685F;
    --light-blue: #2A90D9;
    --grey:#E7E6EB;
    --dark-grey: #333333
}
body {
    background-color: #E7E6EB;
    max-width: 375px;
    margin: auto;
}
.header {
    display: flex;
    background-color:white ;
    margin-top: 20px;
    gap: 13px;
    padding: 15px 7px 15px 7px;
}
#icon {
    margin-left: 90px;
    margin-top: 5px;
}
.logo {
    display: flex;
    gap: 20px;
}
h1 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
color: #2A90D9;
margin-top: 5px;
}
h1 span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #EE685F;
    }


.menu-toggle {
    display: block;
    border: none;
    background-color:white ;
    font-size: 30px;
}
.nav-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 60px;
    width: 330px;
    height: 500px;
    background-color: #ffff;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    margin-top: 30px;
    
}
#nav-icon {
    margin-left: 40px;
}
.nav-menu.active {
    transform: translateX(0);
    display: flex;
    gap: 8px;

}
.nav-menu ul {
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    list-style: none;
    
}
.nav-menu li a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 500;
}
#gap {
    margin-top: 20px;
    
}
.close-menu {
    display: block;
    border: none;
    background-color:white ;
    font-size: 50px;
    margin-top: -5px;
}
.links {
    margin-top: 130px;
}
#phone{
    margin-left: 10px;
}
#Facebook{
    margin-left: 5px;
}
#ytube{
    margin-left: 5px;
}
#inst{
    margin-left: 5px;
}
#tele{
    margin-left: 5px;
}
.mon-lan {
    margin-top: 10px;
}
#language {
    margin-left: 15px;
}
