* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-color: #262729;
    --reddish-brown: #EE685F;
    --light-blue: #2A90D9;
    --grey:#E7E6EB;
    --dark-grey: #333333
}
body {
    background-color: #E7E6EB;
    
}
.header {
    background-color:white ;
    padding: 15px 7px 15px 7px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(8 1fr);
    max-width: 360px;
    margin: auto;
}
#icon {
    grid-row: 1;
    margin-left: 50px;
}
.logo {
    display: flex;
}
#logo {
    margin-left: 20px;
    margin-top: 10px;
}
.header h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #2A90D9;
    margin-left: 60px;
    grid-column: 1;
    grid-row: 1;
}
.header h1 span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #EE685F;
    }
.menu-toggle {
    display: block;
    border: none;
    background-color:white ;
    margin-right: 210px;
    grid-column: 1;
    grid-row: 1;
}
.nav-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 60px;
    width: 330px;
    height: 500px;
    background-color: #ffff;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    
}
#nav-icon {
    margin-left: 60px;
    margin-top: 5px;
}
.nav-menu.active {
    transform: translateX(0);
    display: flex;
    gap: 8px;
}
.nav-menu ul {
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    list-style: none;
    
}
.nav-menu li a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 500;
}
#gap {
    margin-top: 20px;
    
}
.close-menu {
    display: block;
    border: none;
    background-color:white ;
    font-size: 50px;
    margin-top: -5px;
}
.links {
    margin-top: 130px;
}
#phone{
    margin-left: 10px;
}
#Facebook{
    margin-left: 5px;
}
#ytube{
    margin-left: 5px;
}
#inst{
    margin-left: 5px;
}
#tele{
    margin-left: 5px;
}
.mon-lan {
    margin-top: 10px;
}
#language {
    margin-left: 15px;
}
.content-1 {
    height: 334px;
    left: 0px;
    background: url(assets/Rectangle\ 5.svg)
}
.apartment {
    grid-column: 2;
}
.apartment h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #262729;
    margin-top: 30px;
}
.apartment p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #262729;
    margin-top: 15px;
}
.box {
    width: 328px;
    height: 70px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 36px;
    border: 1px solid;
    border-color: #d6d6d6;
    box-shadow: 0px 0px 8px #00000029;
    grid-column: 2;
}


